<form>
    <table name="" ng-submit="">
        <tr>
            <td>Demande_title</td>
            <td><input ng-model=""></td>
        </tr>
        <tr>
            <td>Demande_description</td>
            <td><input ng-model=""></td>
        </tr>
        <tr>
            <td>Demande_pay</td>
            <td><input ng-model=""></td>
        </tr>
        <tr>
            <td>Demande_Ville</td>
            <td><input ng-model=""></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="submit"></td>

        </tr>
    </table>
</form>